
@import "font-and-color.css";


body {
  color: var(--main-font-color); 
    max-width: 1200px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
  font-family: var(--body-font-fam);
}


h1, h2, h3{
   font-family: var(--subtitle-font-fam);
}

h4{
  font-family: var(--body-font-fam);
  font-weight: bold;
}

h1, h2{
  border-bottom: 1px dashed var(--dark-accent-color);
  padding-top: 30px;
  font-size: 200%;
}


.main-container{
  margin-left: 5px;
  margin-right: 5px;
  max-width: 1200px;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
}