
.navbar-brand {
    padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

.navbar-text {
  min-width: 40%;
  height:100px;
  margin: auto;
  margin-left:5px;
  font-family: 'Montserrat', sans-serif;
}

.nav, .navbar-nav, .navbar-right{

  margin: auto;
  padding-top:5px;
  padding-bottom:8px;
  #position:absolute;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
    max-width: 1200px;
      margin: auto;
  background-image: url("img/newmenu.png");
  height: 75px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
  [class="navbar"] {
    background-image: url("img/minimenu.png");
    background-repeat: no-repeat;
  }
    [class*="navbar-right"] {
    background-color: #323333;
  }

}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
  [class="navbar"] {
    background-color: #323333;
  }
  [class*="navbar-right"] {
    background-color: #323333;
  }

}