body {
  color: black; 
    max-width: 1200px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
  font-family: 'Montserrat', sans-serif;
}

body a:link, .mainmenu a:visited {
  color:navy;
}

h1, h2, h3, h4{
   font-family: 'Libre Baskerville', serif;
}

h1, h2, h3{
  font-style: italic;
  border-bottom: 1px dashed lightgrey;
  padding-top: 30px;
}



@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
}
